* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #5a5a5a;
    opacity: 0.8;
    background-image: radial-gradient(#393939 0.55px, #b4b4b6 0.55px);
    background-size: 11px 11px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2rem;
}
#books {
    color: #b4b4b6;
}
h1 {
    display: flex;
    justify-content: center;
    color: #543d2e;
}
#upload {
    margin-top: 20px;
    padding: 10px 30px;
    color: #ffff;
    background-color: #543d2e;
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
}
#addBook {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#addBook input{
    width: 250%;
    height: 30px;
    border-radius: 10px;
    border-color: transparent;
    border: 1px solid #543d2e;
}
#addBook label{
    color: #543d2e;
    font-weight: 500;
}
table {
    border: 1px solid black;
    background-color: #ffffffef;
  }

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-content: flex-end;
}